@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    background-color: skyblue;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
}

.form {
    justify-content: flex-center;


}
